
#board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 10px;
  justify-content: center;
}

#board div {
  border: 2px solid #8cc6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  font-family: Arial, sans-serif;
}

.x {
  color: red;
}

.o {
  color: blue;
}

h1 {
  text-align: center;
}
